.button {
    width: 35vh;
    padding: 16px;
    background: #353535;
    color: #fff;
    font: 700 12px 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}